/*REGOLE GENERALI*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* border: 0.5px dashed red; */
}

body{
    overflow: hidden;
    font-family: Montserrat;
    color: #818387;
}

:root{
    font-size: 12px;

}



#big{
    display: flex;
    height: 100%;
}



/* LEFT */

#left{
    position: relative;
    min-width: 250px;
    width: 250px;
    background-color: black;
    min-height: 500px;
    height: 90vh;
}


@media screen and (max-width: 599px) {
    


    #left{
        display: none;
    }

    #left-b{
        display: block;
    }
    

    


    
}

#left-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left>a img{
    width: 150px;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
}
#left div a{    
    color: #818387;
}

#left li:hover a{
    color: white;
}

#left div li a img{
    width: 15%;
    margin-left: 15px;
}
#left li{
    width: 100%;
    font-weight: bold;
}

#border-special li:hover{
     border-left: 2px solid greenyellow;
}
#left ul{
    margin-bottom: 20px;
}
#left h4{
    color: white;
    margin-left: 15px;
    margin-bottom: 10px;
}
#left>div div{
    font-weight: bold;
    display: inline;
    line-height: 35px;
    /* margin-left: 15px; */
}


#new-playlist>a i{ 
    font-size: 34px;
    margin-bottom: 10px;
    margin-left: 15px;
}

#new-playlist:hover a{
    color: white;
}


#add-playlist{
    height: 30vh;
    margin-left: 15px;
    overflow-y: scroll;
}
#add-playlist li{
    font-weight: bold;
    margin-bottom: 15px;
    
}



#left-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 100px;
    min-width: 100px;
}
#download{
    font-size: 0.9rem;
    
}

#download a img{
    width: 7%;
    margin-left: 15px;
    
}

#app-install{
    position: absolute;
    bottom: 74%;
    left: 18%;




}


#profile img{
    border-radius: 50%;
    background-color: rgb(83, 84, 84);
    width: 30px;
    margin-left: 15px;
    margin-bottom: 20px;
}

#profile img:hover{
    background-color: rgb(134, 135, 135);
    cursor: pointer;
}

#left-bottom h4{
    display: inline;
    height: 50px;
}
#left-bottom hr{
    color: rgb(83, 84, 84);
    width: 220px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
}


#left-bottom #name-profile{
    position: absolute;
    bottom: 23%;
    left: 24%;
    color: white;
    font-size: 1.1rem;
    
    
}

/* LEFT-B */

@media screen and (min-width: 600px) {
    #left-b{
    display: none;
}
}

#left-b-top>a>img{

    width: 30px;
    margin-top: 5px;
    margin-left: 10px;

}

#download-b img{
    width: 16px;
    margin-top: 5px;
    margin-left: 17px;
}

#profile-b img{
    border-radius: 50%;
    background-color: rgb(83, 84, 84);

    width: 24px;
    margin-top: 15px;
    margin-left: 13px;

}









#left-b-spot{

    position: relative;
    min-width: 50px;
    
    width: 50px;
    background-color: black;
    min-height: 500px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    

}

#left-b-top{
    
    width: 50px;
    height: 100px;
    
}

#left-b-bottom{
    
    width: 50px;
    height: 100px;

}




/* RIGHT */

#right{
    width: 100%;
    height: 90vh;
    background-color: #141922;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    
    

}

#head{
    position: fixed;
    z-index: 900;
    height: 100px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: end;
    align-items: center;
    

}

@media screen and (max-width: 599px) {
    #head{
       
        width: calc(100% - 50px);
       
        
    
    }


   
    

    


    
}






#head a{
    min-width: 200px;
    color: white;
    margin-right: 40px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 30px;
    
}

#head a:hover{
    padding: 14px 38px;
}

#table{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 15vh;
    margin-left: 20px;
    margin-right: 20px;
}



#table .row2{
    margin-bottom: 60px;
    
}
#table h2{
    font-size: 1.6rem;
    color: white;
    margin-bottom: 20px;
}

#action-list{
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}





#action-list a{
    color: #818387;
    font-size: 12px;
}

#action-list a:hover{
    color: white;
    background: 
    linear-gradient(rgb(64, 255, 0) 0 0) bottom/ 50% 2px no-repeat, 
    rgba(255, 255, 255,0);
    
}



.disc{
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px;
}

@media screen and (max-width: 824px) {

    .disc{
        gap: 120px 30px;
    }
    
}




.album{
    position: relative;
}

.album-info{
    width: 12vw;
    height: 17vw;
}


@media screen and (max-width:600px) {
    .album-info{
        width: 20vw;
        height: 22vw;
    }

    #table .album{
        width: 21vw;
        height: 20vw;
        min-width: 100px;
        min-height: 100px;
    }


    
}





.album i{
    display: none;
}

.album:hover .opacita{
    width: 100.3%;
    height: 100.3%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}



.album:hover i{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    cursor: pointer;
    
    
}

.album-info h4{
    font-size: 1.1rem;
    color: white;
    text-align: center;
    margin: 15px 0;
}

.album-info h5{
    text-align: center;

}

.album-info a{
    color: white;
}

.album-info h5 a{
    color: #818387;
}




@media screen and (min-width:600px) {
    #table .album{
        width: 12vw;
        height: 12vw;
        min-width: 100px;
        min-height: 100px;
    }


    
}


#table .album img{
    width: 100%;
}

.row h5{
    margin-bottom: 25px;
}





/* PLAYER */

#player{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282828;
    min-height: 100px;
    height: 10vh;
    z-index: 900;
    display: flex;
    justify-content: space-between;
}

#player>div#play-left, #player>div.flex{
    height: 100px;
    width: 250px;
    
}

.flex{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.bullet{
    display: none;
    width: 14px;
    height: 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    
}







/* LEFT */
#play-left{
    display: flex;
    align-items: center;
    
}

#play-left img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

#play-title{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#play-title h5{
    color: white;
}
#play-title h6{
    font-size: 0.6rem;
}

#play-title h6:hover{
    color: white;
    cursor: pointer;
}


#play-left .flex{
    margin-left: 90px;

}

.fa-heart, .fa-folder{
    color: #818387;
    font-size: 1.3rem;
}

.fa-heart:hover, .fa-folder:hover{
    color: white;
    cursor: pointer;
}


@media screen and (max-width: 1096px) {

    #play-left .flex{
        margin-left: 50px;
    
    }


    
}


@media screen and (max-width: 1018px) {

    #play-left .flex{
        margin-left: 10px;
    
    }
    
}





/* CENTER */
#player-button{
    width: 80%;
}



div#player-button{
    height: 100px;
    width: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.4rem;
    
    

}

div#player-button div i:hover{
    cursor: pointer;
    font-size: 2.5rem;
}

div#player-button>div:first-child{
    display: flex;
    gap: 15px;
}

div#player-button>div:last-child{
    width: 120%;
    display: flex;
    align-items: center;
    gap: 25px;
}

#big-rigth-bar-grey{
    
    height: 5px;
    max-width: 500px;
    
    width: 90%;
    background-color: #818387;

}

#big-right-bar-white{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5px;
    width: 25%;
    background-color: #ffffff;

}

#big-right-bar-white:hover{
    background-color: greenyellow;
    cursor: pointer;
}

#big-right-bar-white:hover .bullet{
    display: block;
}

#player-button span{
    font-size: 0.8rem;
}


@media screen and (max-width: 876px) {

    div#player-button>div:last-child{
        width: 100%;
        gap: 15px;
    }

    
    
}

@media screen and (max-width: 750px) {

    div#player-button>div:last-child{
        width: 80%;
        gap: 5px;
    }

    
    
}

@media screen and (max-width: 600px) {

    div#player-button {
        
        font-size: 2rem;
      }

    
    
}

@media screen and (max-width: 580px) {

    div#player-button {
        
        font-size: 1.6rem;
      }

    
    
}





/* RIGHT */

.player-right{
    width: 100%;
    padding-left: 50px;
}

.flex #rigth-bar-grey{
    height: 5px;
    width: 50%;
    background-color: #818387;
}

.flex #right-bar-white{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5px;
    width: 40%;
    background-color: #ffffff;

}
.player-right i:hover{
    cursor: pointer;
    font-size: 1.05rem;

}



.flex #right-bar-white:hover .bullet{
    display: block;
    
}

.flex #right-bar-white:hover{
    background-color: greenyellow;
    cursor: pointer;
}

@media screen and (max-width: 920px) {

    .player-right div{
        width: 70%;
    }
    
}

@media screen and (max-width: 780px) {

    .player-right{
        width: 100%;
        padding-left: 0px;
    }

    .player-right div{
        width: 70%;
        
    }


    
}





